<%= form_for [post, post.comments.new] do |f| %>
  <% if @comment.errors.any? %>
    <div class="alert alert-danger">
      <h4>There are <%= pluralize(@comment.errors.count, "error") %>.</h4>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_group_tag(post.comments.new.errors[:body]) do %>
    <h3>Add a comment</h3>
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter comment" %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.submit "Create Comment", class: 'btn btn-default' %>
  </div>
<% end %>