<div class="media">
  <%= render partial: 'votes/voter', locals: { post: post } %>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to (markdown_to_html post.title), [post.topic, post] %>
      <small>
        <%= image_tag(post.image.profile.url) if post.try(:image?) %>
      </small>
    </h4>
    <small>
      <%= image_tag(post.user.avatar.tiny.url) if post.user.try(:avatar?) %> <!-- used the try method b/c some prior posts did not have a user avatar -->
      submitted <%= time_ago_in_words(post.created_at) %> ago by
      <%= post.user.try(:name) %><br> <!-- used the try method b/c some prior posts did not have a user name -->
      <%= post.comments.count %> Comments
    </small>
  </div>
</div>